h1.sansserif {
    font-family: Futura, Helvetica, sans-serif;
    color: white;
}

body {
    background-color: #171616;
}

p.sansserif {
    font-family: "Helvetica Narrow", Arial, sans-serif;
}

div.a {
    text-align: center;
}

div.b {
    text-align: justify;
    margin-left: 300px;
    margin-right: 300px;
}

